In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# API Key
api_key = "AIzaSyAeacGDhowTLtg4ba8nT-cB5I6g0ccZ9_s"

In [6]:
weather_df = pd.read_csv("../Outputs/WeatherPy.csv")
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,bluff,-46.6000,168.3333,63.81,67,20,1.92,NZ,1651629522
1,jati,24.3539,68.2671,81.34,78,2,14.67,PK,1651629523
2,poum,-20.2333,164.0167,77.97,78,6,7.78,NC,1651629523
3,busselton,-33.6500,115.3333,60.48,48,5,13.94,AU,1651629402
4,bethel,41.3712,-73.4140,52.65,85,94,5.01,US,1651629524
...,...,...,...,...,...,...,...,...,...
682,warrnambool,-38.3833,142.4833,55.81,64,100,15.66,AU,1651630014
683,ovalle,-30.5983,-71.2003,67.01,51,92,0.72,CL,1651629933
684,invermere,50.5167,-116.0354,54.73,65,100,4.74,CA,1651630014
685,aksu,41.1231,80.2644,72.99,15,100,0.69,CN,1651630015
686,simpang,-1.2667,104.0833,75.60,96,100,2.48,ID,1651630016

In [7]:
# Configure gmaps
gmaps.configure(api_key)

In [8]:
# Store the latitude and longitude locations
locations = weather_df[["Lat", "Lng"]]

# Store Humidity as the weight
humidity = weather_df["Humidity"]

In [9]:
# Plot the heatmap
heat_map = gmaps.figure(center = [0.0, -0.0], zoom_level = 2)

# Add a heat layer to the heatmap
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Now add that layer
heat_map.add_layer(heat_layer)

heat_map

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Narrow down the cities to fit weather conditions
max_temp = weather_df.loc[(weather_df['Max Temp']>=70) & (weather_df['Max Temp']<=80)]

wind_speed = max_temp.loc[(weather_df['Wind Speed']<=10)]

true_weather = wind_speed.loc[(wind_speed['Cloudiness']==0)]

true_weather.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
132,taree,-31.9000,152.4667,77.11,52,0,3.04,AU,1651629614
133,buraydah,26.3260,43.9750,79.72,18,0,10.00,SA,1651629617
164,port macquarie,-31.4333,152.9167,76.89,63,0,8.72,AU,1651629643
195,benguela,-12.5763,13.4055,75.20,75,0,2.80,AO,1651629667
284,riyadh,24.6877,46.7219,77.14,19,0,8.43,SA,1651629490